PORT={{ devops_demo_app_port }}
POSTGRES_DB={{ devops_demo_postgres_db }}
POSTGRES_HOST={{ devops_demo_postgres_host }}
POSTGRES_USER={{ devops_demo_postgres_user }}
POSTGRES_PASSWORD={{ devops_demo_postgres_password }}

RAILS_LOG_TO_STDOUT={{ devops_demo_rails_log_to_stdout }}
RAILS_MASTER_KEY={{ devops_demo_rails_master_key }}
DEVOPS_ENV_FILE={{ devops_demo_env_file }}